<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Address</th>
      <th>Company Name</th>
      <th>Job Title</th>
      <th>Join Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of secretUsers">
      <ng-container *ngIf="user.Address?.city">
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.Address?.street}} {{user.Address?.city}}</td>
        <td>{{user.Employee?.companyName}}</td>
        <td>{{user.Employee?.jobTitle}}</td>
        <td>{{user.Employee?.joinDate}}</td>
      </ng-container>
    </tr>
  </tbody>
</table>
